@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-shadow: 0 10px 40px #999;
  position: relative;
}

header {
  width: 100%;
  margin: 0 auto;
  background: #054cb7;
  text-align: center;
  opacity: 1;
  font-family: 'Titillium Web', sans-serif;
  transition: 0.3s linear;

  h1 {
    letter-spacing: 5px;
    margin: 10px 0 0;
  }

  p {
    font-size: 19px;
    margin: 0 0 15px;
  }
}

header.hide {
  transform: translate3d(0,-300%,0);
  position: absolute;
}

form {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 100%;
  padding: 10px 0;
  transition: 0.3s linear;

  label {
    margin: 15px;
    font-size: 19px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
  }

  input {
    padding: 10px;
    margin: 0 20px;
    border: 1px dashed grey;
    font-size: 16px;
  }

  button {
    margin: 20px;
    padding: 5px 10px;
    width: 30%;
    background-color: #054cb7;
    font-size: 17px;
    font-weight: 700;
    color: #eee;
    border: 2px solid #ddd;
    transition: 250ms ease-in-out;

    &:hover {
      background: #fff;
      color: #054cb7;
    }
  }
}

.showAddedLinks {
  width: 100%;
  background: #eee;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.4);

    h3 {
      font-size: 20px;
      font-weight: 700;
      background: #d7d2dd;
      padding: 8px;
      border: 1px solid #eee;
      margin-left: 5px;
      font-family: 'Titillium Web', sans-serif;
    }

    .right {
      position: absolute;
      right: 0;
      // display: flex;
      // justify-content: space-between;
      // width: 100%;
      a {
        text-decoration: none;
        text-align: center;
        position: relative;
        bottom: -10px;

        p {
          font-size: 17px;
          margin: 0;
          font-family: 'Titillium Web', sans-serif;
        }
      }
    }

    .right > * {
      margin: 5px;
      font-size: 20px;
      color: black;
    }
  }
}
@media screen and (min-width: 768px) {
  // .wrapper {
  //   width: 80%;
  // }
  form {
    label {
      text-align: center;
      font-size: 23px;
    }

    input {
      width: 60%;
      padding: 20px 10px;
      margin: auto;
      font-size: 19px;
    }

    button {
      margin: 30px auto 15px;
    }
  }
}
@media screen and (min-width: 1000px) {
  form label {
    font-size: 30px;
  }

  form button {
    padding: 10px 15px;
    font-size: 20px;
  }

  .showAddedLinks {
    .item {
      width: 60%;
      margin: 0 auto;
      position: relative;
      text-align: center;
      padding: 0 10px;

      h3 {
        font-size: 25px;
      }

      .right a p {
        font-size: 22px;
      }

      .right > * {
        margin: 10px;
        font-size: 30px;
        color: black;
        padding-left: 20px;
        cursor: pointer;
      }
    }
  }
}